# .env
PAWAPAY_SANDBOX_API_TOKEN=your_sandbox_api_token_here
PAWAPAY_PRODUCTION_API_TOKEN=your_production_api_token_here
# get at https://katorymnd.com/pawapay-payment-sdk/java/
KATORYMND_PAWAPAY_SDK_LICENSE_KEY=Your_license
PAWAPAY_SDK_LICENSE_DOMAIN=your-domain #your domain name
PAWAPAY_SDK_LICENSE_SECRET=your_secret_key

